body{
font-family: 'Times New Roman', Times, serif;

}
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.view{
    float: right !important;
}
table{
font-family:'Times New Roman', Times, serif;

}
.header_image{
background-image: url("header.jpg");
height: 400px !important;
width: 100% !important;
background-position:center;
background-attachment: fixed;

}
#heading1{
font-family: 'Times New Roman', Times, serif;
font-size: 75px;
color: #fff;    
}
#description{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;    
}
.logo{
    padding-top:80px; 
}

@media only screen and (max-width: 600px) {
    #heading1{
      font-size:40px; 
    }
    #description{
        text-align: center;
        font-size: 15px;
        color: #fff;
        font-family: 'Times New Roman', Times, serif;    
    }
    .header_image{
        background-image: url("header.jpg");
        height: 280px !important;
        width: 100% !important;
        background-position:center;
        background-attachment: fixed;
    }
    .logo{
        padding-top:50px; 
    }
    .text2{
        font-size: 20px !important;
    }
    .card{
        height: 300px !important;
    }
}
.card{
    background-color: #fff;
    width: 100%;
    height: 400px;
    border-radius: 0px;
    display: inline-block;
    margin-top: 50px;
    border: 1px solid #eee; 
    box-shadow: 0 2px 2px #ccc;
    width: 100%;
    padding: 40px;
}
.navbar-dark .navbar-nav .nav-link:hover{
font-weight: bold;
font-size: 16px;
}
#name1{
text-transform: capitalize;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
}
.btn{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
